body {
  max-width: 68.75rem;
  margin: 0 auto;
  font-family: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  font-weight: 400;
  background: #fff;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  box-sizing: border-box;
  padding: 5.75rem 3.125rem 6rem;
}

.header__links-list {
  display: flex;
  gap: 2.0625rem;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.17; 
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 9.25rem;
}

.header__logo-image {
  width: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 15rem;
  font-style: normal;
}

.address__link {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.35;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
}

.address__text {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.35;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 47.3125rem;
  padding: 10.3125rem 0 3.125rem;
  background-image: url('../images/lotus-flower.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin: 0 3.125rem;
  color: #fff;
  font-weight: 700;
  font-size: 6.25rem;
  line-height: 1.15;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  width: 100%;
}

.aligned-text_left {
  text-align: left;
}

.letter-spacing-extended {
  letter-spacing: 1.875rem;
}

.aligned-text_center {
  margin-left: 0.9375rem;
  text-align: center;
}

.aligned-text_right {
  width: auto;
  margin-right: -1.875rem;
  text-align: right;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3.125rem;
}

.cover__description-text {
  width: 39.8125rem;
  max-width: 100%; 
  color: #fff;
  font-size: 1.375rem;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 0.9em;
  white-space: nowrap;
}

.bet-button {
  width: 16rem;
  height: 3.1875rem;
  border: 1px solid #fff; 
  padding: 0;
  color: #fff;
  font-family: inherit;
  font-size: 1.375rem;
  line-height: 1.18;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  cursor: auto;
}

.lots {
  padding: 11.25rem 1.5rem 0;
}

.lots__heading {
  margin: 0 0 1.6875rem 2.5rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.175; 
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5625rem;
}

.lots__card-list-item {
  width: 20.875rem; 
  min-height: 37.25rem; 
}

.card-link {
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 37.25rem;
  padding: 3rem 2.5rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}

.card_type_film {
  background-image: url('../images/lot_1.jpg');
}

.card .overlay {
  z-index: 1;
}

.card__title {
  position: relative;
  z-index: 2;
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 1.2; 
  text-decoration: underline;
  text-decoration-thickness: 0.03em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.2rem;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  position: relative;
  margin-top: auto;
  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
}

.card_type_book {
  background-image: url('../images/lot_2.jpg');
}

.card_type_picture {
  background-image: url('../images/lot_3.jpg');
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 1.875rem;
  margin-left: 2.5rem;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.15; 
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
  word-break: break-word;
}

.about {
  display: grid;
  grid-template-columns: 15rem 1fr; 
  align-items: start;
  column-gap: 4.6875rem;
  padding: 7.5rem 1.5rem 0;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__column_logo {
  justify-self: start;
  padding-top: 2.1875rem;
  padding-left: 2.9375rem;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 15rem; 
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 9.25rem;
  height: 7.125rem;
  object-fit: contain;
}

.about__column_content {
  padding-top: 8.3125rem;
  padding-left: 2.8125rem;
}

.about__title {
  margin: 0 0 6.25rem;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 1.175;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.about__text p {
  margin: 0;
  color: #000;
  font-size: 1.25rem;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  margin-top: 6.25rem;
  padding: 5rem 3.125rem;
}

.footer .address {
  justify-self: start;
  width: 16.5rem;
}

.footer .address__text {
  width: 16.25rem;
  word-break: normal;
  hyphens: none;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  gap: 1px; 
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  line-height: 1.17;
}

.footer__menu-link {
  color: #000;
  font-size: 1.125rem;
  line-height: 1.17;
  text-decoration: underline;
  text-decoration-thickness: 0.05em;
  text-decoration-skip-ink: none;
  text-underline-offset: 0.25rem;
}

.footer__menu-link-active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 3rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 50%;
}

.footer__social-icon {
  width: 50%;
  height: auto;
}

.footer__social-list-item:nth-child(1) .footer__social-icon {
  width: 55%;
}

.footer__social-list-item:nth-child(2) .footer__social-icon {
  width: 62%;
}

.footer__social-list-item:nth-child(3) .footer__social-icon {
  width: 40%;
}